#root{
    text-align:unset;
}

.heading{
    background-color: #212529;
    padding: 5rem;
 }
 .title{
    text-align: center;
    position: relative;
 }

.title>h2{
    font-size: 8rem;
    line-height:1;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #292D32;
    font-weight: bold;
}

.title>p{
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    line-height:1;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    color: white;

 }

 .line{
    width: 80px;
    border: 0;
    border-bottom: 5px solid #20c997;
 }




