.primary-btn{
    font-size: 22px;
    padding: 10px 37px;
    border-radius: 30px;
    border: 2px solid #20C997;
    background-color: transparent;
    color: lightgray;
    font-weight: 700;
    text-transform: uppercase;
}

.primary-btn:hover {
    background-color: #20C997;
    transition: all 0.7s ease 0s;
}